/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
public/assets/images/environment/1a25e986-fe3f-11ed-a588-2cfda15b3ca3.png
public/assets/images/environment/19d2d732-fe3f-11ed-9bc9-2cfda15b3ca3.png
public/assets/images/environment/19fb45d2-fe3f-11ed-a48f-2cfda15b3ca3.png
public/assets/images/environment/196a1c56-fe3f-11ed-b40c-2cfda15b3ca3.png
public/assets/images/environment/19343866-fe3f-11ed-9b42-2cfda15b3ca3.png
public/assets/images/news/2ec1ace4-fe40-11ed-80ef-2cfda15b3ca3.jpg
public/assets/images/news/3bdf1d8a-fe40-11ed-bcb1-2cfda15b3ca3.JPG
