$primary-color: #1c5e8e;
$primary-secondary: #f9c50d;
$primary-colord1: rgb(173, 0, 0);
$primary-colorl1: #1c5e8e77;
$primary-colorl2: #d5eeff77;
$primary-soft-color1: #1c5e8e77;
$background-color: #f5f5f7;

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $primary-secondary;
}

.bg-primarylight {
  background-color: $primary-colorl1;
}

.bg-primarylight2 {
  background-color: $primary-colorl2;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $primary-secondary;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: $background-color;
}

.hero {
  height: 100vh;
  z-index: -10;
}

.nav-link {
  color: black;
  transition: all;
  transition-duration: 300ms;
  &:hover {
    color: $primary-color;
    font-weight: bold;
  }
}
// .ourservice{
//     width: calc(100vw - 100px);
//     background-color: white;
//     box-shadow: 0 0 5px #ddd;
//     height: 15rem;
//     margin-top: -3rem;
//     margin-right: auto;
//     margin-left: auto;
//     border-radius: 30px;
// }

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.ourservice {
  margin-top: 5rem;
  padding-bottom: 2rem;

  .card {
    box-shadow: 5px 5px 20px 1px #eee;
    height: 10rem;
    border-radius: 30px;
    background-color: white;
    transition: all ease-in-out;
    transition-duration: 300ms;
    cursor: pointer;

    .icon.hovered {
      transition-duration: 500ms;
      scale: 1.1;
    }

    &:hover {
      scale: 1.1;
      background-color: $primary-colorl1;
    }
  }
}

.riwayat {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .card {
    box-shadow: 5px 5px 20px 1px #eee;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
  }
}

.purpose {
  .card {
    background: linear-gradient(
      319.6deg,
      rgb(243, 0, 79) 20.5%,
      rgb(255, 236, 68) 110.9%
    );
    box-shadow: 5px 5px 20px 1px #eee;
    border-radius: 10px;
    padding: 2rem;
  }
}

.history {
  background-color: white;
  padding-top: 2rem;
  padding-bottom: 5rem;

  .card {
    box-shadow: 5px 5px 20px 1px #eee;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
  }
}

.client {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .card {
    box-shadow: 5px 5px 20px 1px #eee;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
  }

  .imagelogo {
    object-fit: contain;
    filter: grayscale(100%);
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;

    &:hover {
      filter: none;
    }
  }
}

.kontak {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .link {
    transition: all;
    transition-duration: 300ms;
    cursor: pointer;
    &:hover {
      color: $primary-color;
    }
  }
}

.link {
  transition: all;
  transition-duration: 300ms;
  display: block;
  cursor: pointer;
  color: #333;
  &:hover {
    color: black;
    font-weight: bold;
  }
}

.footer {
  background-color: $primary-colorl2;
  padding-top: 5rem;
  padding-bottom: 5rem;
  .title {
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .content {
    color: #333;
  }

  .link {
    transition: all;
    transition-duration: 300ms;
    display: block;
    cursor: pointer;
    color: #333;
    &:hover {
      color: black;
      font-weight: bold;
    }
  }

  .iconsocial {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    transition: all;
    transition-duration: 300ms;
    color: #333;
    &:hover {
      scale: 1.1;
      color: black;
    }
  }
}

.button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: $primary-color;
  color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #ddd;
  z-index: 100;
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;

  &:hover {
    scale: 1.1;
    background-color: $primary-colorl1;
  }
}

.button-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $primary-color;
  color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #ddd;
}

.question {
  margin-top: 7rem;
}

// ANIMATION

.acc1 {
  animation-name: moveslightly;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  top: 23%;
  right: 45%;
  height: 4%;
}

.acc2 {
  animation-name: moveslightly;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  top: 23%;
  right: 30%;
  height: 10%;
}

.acc3 {
  animation-name: moveslightly;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  top: 13%;
  right: 30%;
  height: 6%;
}

@keyframes moveslightly {
  25% {
    transform: translate(10px, 20px);
  }

  50% {
    transform: translate(20px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}
