html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: #1c5e8e;
}

.bg-primarylight {
  background-color: rgba(28, 94, 142, 0.4666666667);
}

.bg-primarylight2 {
  background-color: rgba(213, 238, 255, 0.4666666667);
}

.text-primary {
  color: #1c5e8e;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f5f5f7;
}

.hero {
  height: 100vh;
  z-index: -10;
}

.nav-link {
  color: black;
  transition: all;
  transition-duration: 300ms;
}
.nav-link:hover {
  color: #1c5e8e;
  font-weight: bold;
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

.ourservice {
  margin-top: 5rem;
  padding-bottom: 2rem;
}
.ourservice .card {
  box-shadow: 5px 5px 20px 1px #eee;
  height: 10rem;
  border-radius: 30px;
  background-color: white;
  transition: all ease-in-out;
  transition-duration: 300ms;
  cursor: pointer;
}
.ourservice .card .icon.hovered {
  transition-duration: 500ms;
  scale: 1.1;
}
.ourservice .card:hover {
  scale: 1.1;
  background-color: rgba(28, 94, 142, 0.4666666667);
}

.riwayat {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.riwayat .card {
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}

.purpose .card {
  background: linear-gradient(319.6deg, rgb(243, 0, 79) 20.5%, rgb(255, 236, 68) 110.9%);
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  padding: 2rem;
}

.portfolio {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.portfolio .card {
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}

.client {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.client .card {
  box-shadow: 5px 5px 20px 1px #eee;
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
}
.client .imagelogo {
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(100%);
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.client .imagelogo:hover {
  filter: none;
}

.kontak {
  background-color: white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.kontak .link {
  transition: all;
  transition-duration: 300ms;
  cursor: pointer;
}
.kontak .link:hover {
  color: #1c5e8e;
}

.link {
  transition: all;
  transition-duration: 300ms;
  display: block;
  cursor: pointer;
  color: #333;
}
.link:hover {
  color: black;
  font-weight: bold;
}

.footer {
  background-color: rgba(213, 238, 255, 0.4666666667);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.footer .title {
  color: black;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}
.footer .content {
  color: #333;
}
.footer .link {
  transition: all;
  transition-duration: 300ms;
  display: block;
  cursor: pointer;
  color: #333;
}
.footer .link:hover {
  color: black;
  font-weight: bold;
}
.footer .iconsocial {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  color: #333;
}
.footer .iconsocial:hover {
  scale: 1.1;
  color: black;
}

.button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #1c5e8e;
  color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #ddd;
  z-index: 100;
  cursor: pointer;
  transition: all;
  transition-duration: 500ms;
}
.button:hover {
  scale: 1.1;
  background-color: rgba(28, 94, 142, 0.4666666667);
}

.button-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #1c5e8e;
  color: white;
  border-radius: 50px;
  box-shadow: 5px 5px 5px #ddd;
}

.question {
  margin-top: 7rem;
}

.acc1 {
  animation-name: moveslightly;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  top: 23%;
  right: 45%;
  height: 4%;
}

.acc2 {
  animation-name: moveslightly;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  top: 23%;
  right: 30%;
  height: 10%;
}

.acc3 {
  animation-name: moveslightly;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  top: 13%;
  right: 30%;
  height: 6%;
}

@keyframes moveslightly {
  25% {
    transform: translate(10px, 20px);
  }
  50% {
    transform: translate(20px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}